* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right top, #a69aa1, #a69dac, #9ea3b8, #90aac0, #82b1c0, #84b6bf, #89bbbe, #8fc0bc, #9ec5c2, #accac7, #bacecd, #c8d3d2);
}